.NavBar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
  height: 15em;
  border: 2px solid white;
}

.logo{
  height: 75%;
  margin-top: 2%;
}

.search{
height:5%;
width:35%;
margin-top: 10%;
}

label{
  color:white;
}


.progress{
display: flex;
flex-direction: column;
width:25%;
margin-right: 2%;
margin-top: 2%;
}