.NavBar{
  background-color: black;
  height: 22em;
  border: 2px solid white;
}

img{
  height: 150px;
}

.search{
position: absolute;
left:480px;
top:110px;
width:420px;
}

label{
  color:white;
}

input{
  max-width: 20%;
}
.progress{
display: flex;
flex-direction: column;

}